{% extends 'core/dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_css %}
{% endblock specific_css %}

{% block title %}Formulario{% endblock title %}
{% block title1 %}GlobalGes{% endblock title1 %}
{% block title2 %}Gestión{% endblock title2 %}
{% block title3 %}Formulario{% endblock title3 %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card rounded-4">

      <!-- Encabezado de la tarjeta -->
      <div class="card-header">
        <h4 class="header-title">Agregar / Editar</h4>
        <p class="text-muted mb-0">
          Completa los campos requeridos para agregar o modificar un registro.
        </p>
      </div>

      <!-- Cuerpo de la tarjeta -->
      <div class="card-body p-4">
        <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
          {% csrf_token %}

          {{ form.media.js }}

          <!-- Formulario renderizado -->
          {{ form|crispy }}

          <div class="mt-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary px-4">Guardar</button>
            <a href="javascript:history.back()" class="btn btn-outline-danger px-4">Cancelar</a>
          </div>
        </form>
      </div><!-- end card-body -->
      
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->
{% endblock content %}

{% block specific_js %}
<script type="text/javascript" src="{% static 'assets/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/chainedm2m.js' %}"></script>

{% endblock specific_js %}

