{% extends 'core/dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_css %}
{% endblock %}

{% block content %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Agregar / Editar</div>
    </div>
    <!--end breadcrumb-->

    <div class="row">
        <div class="col-xl-6 mx-auto">
            <div class="card">
                <div class="card-header px-4 py-3">
                    <h5 class="mb-0">Formulario</h5>
                </div>
                <div class="card-body p-4">
                    <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}

                        {{ form.media.js }}

                        {% if form.contrato_legible %}
                            <div class="mb-3">
                                <label class="form-label">Id contrato:</label>
                                <input type="text" class="form-control bg-light text-dark" value="{{ form.contrato_legible }}" readonly>
                            </div>
                        {% endif %}

                        <!-- Mostrar el resto del formulario -->
                        {{ form|crispy }}
                        
                        <div class="card-footer">
                            <button type="submit" class="btn btn-grd-success px-4">Guardar</button>
                            <a href="javascript:history.back()" class="btn btn-grd-danger px-4">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
<script type="text/javascript" src="{% static 'assets/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/chainedm2m.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var contratoSelect = document.getElementById('id_id_contrato');
        if (contratoSelect && contratoSelect.value) {
            contratoSelect.dispatchEvent(new Event('change'));
        } else {
            console.log('El select de contrato no tiene valor.');
        }
    });
</script>
{% endblock %}
