# Entornos virtuales
venv/
.env

# Archivos de bases de datos locales
db.sqlite3

# Archivos de cache
__pycache__/
*.py[cod]

# Archivos de migraciones (opcional)
*/migrations/__pycache__/

# Archivos de log
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db