{% extends 'core/dashboard.html' %}
{% load static %}
{% load humanize %}

{% block specific_css %}
<!-- Datatables css -->
<link href="{% static 'dist/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Certificados Ganancias{% endblock %}
{% block title1 %}GlobalGes{% endblock %}
{% block title2 %}Finanzas{% endblock %}
{% block title3 %}Certificados Ganancias{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xxl-4 col-md-6">
        <div class="card widget-flat text-bg-success">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-file-text-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0">Total Certificados</h6>
                <h2 class="my-2">{{ total_monto|floatformat:2|intcomma }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="header-title">Detalle de Certificados de Ganancias</h4>
            </div>
            <div class="card-body">
                <table id="scroll-horizontal-datatable" class="table table-striped w-100 nowrap">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Contacto</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ingresos_impuesto_ganancias %}
                        <tr>
                            <td>{{ item.fecha|date:"Y/m/d" }}</td>
                            <td>{{ item.contacto }}</td>
                            <td class="text-end">{{ item.monto|floatformat:2|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <th>Contacto</th>
                            <th>Monto</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specific_js %}
<script src="{% static 'dist/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'dist/assets/js/pages/datatable.init.js' %}"></script>
{% endblock %}
