{% extends 'core/dashboard.html' %}
{% load static %}
{% load humanize %}

{% block specific_css %}
<!-- Datatables css -->
<link href="{% static 'dist/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'dist/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Deudas a Pagar{% endblock %}
{% block title1 %}GlobalGes{% endblock %}
{% block title2 %}Finanzas{% endblock %}
{% block title3 %}Deudas a Pagar{% endblock %}

{% block content %}
<div class="row">
    <!-- Deudas a pagar en Pesos -->
    <div class="col-xxl-6 col-sm-6">
        <div class="card widget-flat text-bg-danger">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-cash-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Deuda Pesos">Deudas a Pagar (Pesos)</h6>
                <h2 class="my-2">{{ total_deuda_pesos|floatformat:2|intcomma }}</h2>
            </div>
        </div>
    </div>

    <!-- Deudas a pagar en Dólares -->
    <div class="col-xxl-6 col-sm-6">
        <div class="card widget-flat text-bg-primary">
            <div class="card-body">
                <div class="float-end">
                    <i class="ri-currency-line widget-icon"></i>
                </div>
                <h6 class="text-uppercase mt-0" title="Deuda Dólares">Deudas a Pagar (Dólares)</h6>
                <h2 class="my-2">{{ total_deuda_dolares|floatformat:2|intcomma }}</h2>
            </div>
        </div>
    </div>
</div>

<!-- Tabla de Deudas -->
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="header-title">Detalle de Deudas a Pagar</h4>
            </div>
            <div class="card-body">
                <table id="scroll-horizontal-datatable" class="table table-striped w-100 nowrap">
                    <thead>
                        <tr>
                            <th>Contacto</th>
                            <th>Moneda</th>
                            <th>Total Deudas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deuda in deudas_por_moneda_y_contacto %}
                        <tr>
                            <td>{{ deuda.contacto__nombre }}</td>
                            <td>{{ deuda.moneda }}</td>
                            <td class="text-end">{{ deuda.total_monto|floatformat:2|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Contacto</th>
                            <th>Moneda</th>
                            <th>Total Deudas</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specific_js %}
<!-- Datatables js -->
<script src="{% static 'dist/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'dist/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

<!-- Datatable Init -->
<script src="{% static 'dist/assets/js/pages/datatable.init.js' %}"></script>
{% endblock %}


