{% extends 'core/dashboard.html' %}
{% load static %}
{% load custom_tags %} 

{% block specific_css %}
{% endblock specific_css %}

{% block title %}Cambiar Contraseña{% endblock title %}
{% block title1 %}GlobalGes{% endblock title1 %}
{% block title2 %}Configuración{% endblock title2 %}
{% block title3 %}Cambiar Contraseña{% endblock title3 %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card rounded-4">

      <!-- Encabezado de la tarjeta -->
      <div class="card-header">
        <h4 class="header-title">Cambio de Contraseña</h4>
        <p class="text-muted mb-0">
            Aquí puedes cambiar tu Contraseña.
        </p>
      </div>
      <div class="card-body p-4">
         {# Mensajes de error/exito #}
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-info">{{ msg }}</div>
          {% endfor %}
        {% endif %}

        <form method="POST" class="row g-3">
          {% csrf_token %}

          <!-- Campo: Contraseña Antigua -->
          <div class="mb-3">
            <label for="{{ form.old_password.id_for_label }}" class="form-label">
              {{ form.old_password.label }}
            </label>
            {{ form.old_password|addclass:"form-control" }}
            {% if form.old_password.errors %}
              <div class="text-danger">
                {{ form.old_password.errors }}
              </div>
            {% endif %}
          </div>

          <!-- Campo: Nueva Contraseña -->
          <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">
              {{ form.new_password1.label }}
            </label>
            {{ form.new_password1|addclass:"form-control" }}
            {% if form.new_password1.errors %}
              <div class="text-danger">
                {{ form.new_password1.errors }}
              </div>
            {% endif %}
          </div>

          <!-- Campo: Confirmar Contraseña -->
          <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">
              {{ form.new_password2.label }}
            </label>
            {{ form.new_password2|addclass:"form-control" }}
            {% if form.new_password2.errors %}
              <div class="text-danger">
                {{ form.new_password2.errors }}
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">
              Cambiar contraseña
            </button>
          </div>
        </form>

      </div><!-- end card-body -->
    </div><!-- end card -->
  </div><!-- end col -->
</div><!-- end row -->
{% endblock content %}

{% block specific_js %}
{% endblock specific_js %}

